
@{
    ViewData["Title"] = "HomePage";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Movie Ticket Booking System</h1>
    <p class="lead">Book your movie tickets online with ease!</p>
    <hr class="my-4">
    <p>Choose from a wide selection of movies.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Explore Movies</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/movie1.jpg" class="card-img-top" alt="Movie 1">
                <div class="card-body">
                    <h5 class="card-title">Movie 1</h5>
                    <p class="card-text">Genre: Action</p>
                    <p class="card-text">Director: John Doe</p>
                    <a href="#" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/movie2.jpg" class="card-img-top" alt="Movie 2">
                <div class="card-body">
                    <h5 class="card-title">Movie 2</h5>
                    <p class="card-text">Genre: Drama</p>
                    <p class="card-text">Director: Jane Smith</p>
                    <a href="#" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/movie3.jpg" class="card-img-top" alt="Movie 3">
                <div class="card-body">
                    <h5 class="card-title">Movie 3</h5>
                    <p class="card-text">Genre: Comedy</p>
                    <p class="card-text">Director: Mark Johnson</p>
                    <a href="#" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>





